<h1>Contas</h1>

<div class="mb-4" *ngIf="!contas.length">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  Carregando...
</div>

<table *ngIf="contas.length" class="table table-dark table-striped"></table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Clientes</th>
      <th scope="col">Conta</th>
      <th scope="col">Agência</th>
      <th scope="col">Saldo</th>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas;">
      <td>{{ conta.cliente.nome }}</td>
      <td>{{ conta.numero }}</td>
      <td>{{ conta.agencia}}</td>
      <td>{{ conta.saldo | currency: 'BRL' }}</td>
    </tr>

  </tbody>
</table>

<a class="btn btn-dark" routerLink="cadastrar">Adicionar Conta</a>

