<h1>Clientes</h1>

<div class="mb-4" *ngIf="!clientes.length">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  Carregando...
</div>

<table *ngIf="clientes.length" class="table table-dark table-striped"></table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Oservações</th>
      <th scope="col">Ativos</th>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes;">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.observacoes }}</td>
      <td>
        <i *ngIf="cliente.ativo" class="fas fa-thumbs-up text-sucess"></i>
        <i *ngIf="!cliente.ativo" class="fas fa-thumbs-down text-danger"></i>

      </td>
    </tr>

  </tbody>
</table>

<div class ="row">
  <div class="col">
    <app-label-input type="text" label="Nome"></app-label-input>
  </div>
  <div class="col">
    <app-label-input type="text" label="Email"></app-label-input>
  </div>
  <div class="col">
    <app-label-input type="text" label="CPF"></app-label-input>
  </div>
</div>


<app-checkbox label="Aceitar os termos de uso"></app-checkbox>
<app-button label="Cadastrar"></app-button>

