<h1>Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class ="row">
  <div class="col">
    <app-label-input type="text" label="Nome"></app-label-input>
  </div>
  <div class="col">
    <app-label-input type="text" label="Email"></app-label-input>
  </div>
  <div class="col">
    <app-label-input type="text" label="CPF"></app-label-input>
  </div>
</div>


<app-checkbox label="Aceitar os termos de uso"></app-checkbox>
<app-button label="Cadastrar"></app-button>

